.close {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.close:hover {
    -fx-background-color: #ff3547;
}

.minimize {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.minimize:hover {
    -fx-background-color: #ddd;
}

/* Correction de l'ombre ici */
.shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 6.0, 0.0, 0.0, 2.0); /* Ajout des décalages X et Y */
}

.col {
    -fx-background-color: #005632;
    -fx-text-fill: white;
}

.table-view {
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom right, #272b3f, #256b51);
    -fx-border-radius: 8px;
    -fx-padding: 0px;
}

.table-view .table-column {
    -fx-text-alignment: CENTER;
}

.table-view .column-header-background {
    -fx-background-color: #00600b;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 8px 8px 0px 0px;
}

.table-view .column-header, .filter {
    -fx-background-color: transparent;
    /* -fx-size n'existe pas, donc suppression */
}

.table-view .column-header .label {
    -fx-text-fill: #fff;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 20px;
}

.textfield {
    -fx-background-color: linear-gradient(to bottom, #efefef, #eee);
    -fx-border-color: linear-gradient(to bottom right, #272b3f, #256b51);
    -fx-border-width: 0.8px;
    -fx-font-family: "Times New Roman";
    -fx-border-radius: 4px;
}

.textfield:focused {
    -fx-border-width: 1.8px;
}

.search {
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom right, #272b3f, #256b51);
    -fx-border-radius: 5px;
    /* -fx-size remplacé par des propriétés appropriées */
    -fx-pref-width: 40px;
    -fx-font-family: "Times New Roman";
    -fx-border-width: 1px;
    -fx-background-radius: 0px 0px 0px 28px;
}

.search:focused {
    -fx-border-width: 2px;
}

.button-crud {
    -fx-background-radius: 10;
    -fx-border-radius: 7;
}

.image {
    -fx-background-radius: 10;
    -fx-border-radius: 7;
}

.textfield-buttonChoise {
    -fx-background-color: linear-gradient(to bottom, #efefef, #eee);
    -fx-border-color: linear-gradient(to bottom right, #272b3f, #256b51);
    -fx-border-radius: 4px;
    -fx-border-width: 0.8px;
    -fx-font-family: "Times New Roman";
}
